{%- macro render_element(file, fa_mimetype) %}
<tr class="file-element" id="{{ file.unique_id }}">


    <td>
        <div class="thumbnail">
            {%- if file.is_image %}
            <img src="{{ request.host_url }}thumbs/{{ file.unique_id }}" alt="...">
            {% endif -%}
            {%- if not file.is_image %}
            <center>{{ fa_mimetype(file.mimetype)|safe }}</center>
            {% endif -%}
        </div>
    </td>
                <td>{{ file.name }}</td>
                <td>{{ file.unique_id }}</td>
                <td>{{ file.hr_size }}</td>
                <td>{{ file.hr_time }}</td>
                <td>{{ file.uploader_name }}</td>
                <td>
                <a id="link-{{ file.unique_id }}" href="{{ request.host_url }}uploads/{{ file.unique_id }}"
                  class="btn btn-success" role="button">Download
                    <span id="dlcount-{{ file.unique_id }}" class="badge">
                        {{ file.dl_count }}
                    </span>
                </a>
                {%- if g.user.admin or (g.user.id == file.uploader_id) %}
                <form action="#" id="form-{{ file.unique_id }}">
                    <input type="hidden" name="uniqueid" value="{{ file.unique_id }}">
                    <button type="submit" class="btn btn-danger">Delete</button>
                </form>
                {% endif -%}
                </td>

</tr>
{% endmacro -%}