{% extends "base.html" %}

{% block head %}
{{ super() }}
    <script src="{{ url_for('static', filename='js/account.js') }}"></script>
{% endblock %}

{% block content -%}
{%- if g.testing %}<div id="dj29skalWka"></div>{% endif -%}

<div id="responseinfo" class="alert alert-info hidden" role="alert">
    <strong>Info!</strong><span id="response">response</span>
  </div>
<div class="container">
  {% from "_formhelpers.html" import render_label %}
  <form action="#" id="newuserform">
    {{ form.hidden_tag() }}
    {{ render_label(form.username) }}
    {{ render_label(form.email) }}
    {{ render_label(form.oldpassword) }}
    {{ render_label(form.password) }}
    {{ render_label(form.confirm) }}
    <div class="form-group row">
      <div class="offset-sm-2 col-sm-10">
        <button type="submit" class="btn btn-primary">Change Data</button>
      </div>
    </div>
  </form>
</div>
{%- endblock %}
