<!DOCTYPE html>
<html lang="en">
<head>
    {%- block head %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="csrf-token" content="{{ csrf_token() }}">
    <title>MinCloud</title>

    <!-- Styles -->
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/navbar.css') }}" rel="stylesheet">

    <!-- Script Loading -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="{{ url_for('static', filename='js/jquery.min.js') }}">\x3C/script>')</script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="{{ url_for('static', filename='js/html5shiv.js') }}"></script>
    <script src="{{ url_for('static', filename='js/respond.js') }}"></script>

    <![endif]-->
    {% endblock -%}
</head>
<body>
<!-- Fixed navbar -->
{% from "_menuhelpers.html" import render_menuitem, render_topbaritem %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">MinCloud</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                {{ render_topbaritem('index', 'Home', 'fa-home') }}
                {%- if g.user.is_authenticated %}
                {{ render_topbaritem('upload', 'Upload', 'fa-cloud-upload') }}
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-cogs fa-fw" aria-hidden="true">
                  </i>&nbsp; Settings
                      <span class="caret"></span>
                  </a>
                  <ul class="dropdown-menu">
                      {%- if g.user.admin -%}
                      {{ render_menuitem('adduser', 'Add User', 'fa-user-plus') }}
                      {{ render_menuitem('showusers', 'Show Users', 'fa-users') }}
                      {% endif -%}
                      {{ render_menuitem('account', 'Account', 'fa-user') }}
                      <!--<li role="separator" class="divider"></li>-->
                  </ul>
                </li>
                <li>
                {% endif -%}
                    {%- if g.user.is_authenticated -%}
                    {{ render_topbaritem('logout', 'Logout', 'fa-sign-out') }}
                    {% else %}
                    {{ render_topbaritem('login', 'Login', 'fa-sign-in') }}
                {% endif -%}
                </li>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% include 'error_msgs.html' %}
<!-- Begin page content -->
<div class="container">
{% block content -%}
{% endblock -%}
</div>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script>$.fn.modal || document.write('<script src="{{ url_for('static', filename='js/bootstrap.min.js') }}">\x3C/script>')</script>
    </body>
</html>