<!-- extend from base layout -->
{% extends "base.html" %}
{%- block head %}
{{ super() }}
    <script src="{{ url_for('static', filename='js/indexs.js') }}"></script>
{% endblock -%}
{%- block content %}
{%- if g.testing %}<div id="index_page_7890"></div>{% endif -%}
{%- if g.user.admin %}
{%- if g.testing %}<div id="admin_index_page_2382"></div>{% endif -%}
<p>You are a Admin - congrats!</p>
{% endif -%}
{% from "_helpers.html" import render_element %}
{%- if g.user.is_authenticated %}
  <div id="responseinfo" class="alert alert-info hidden" role="alert">
    <strong>Info!</strong><span id="response">response</span>
  </div>

<table class="table">
    <thead>
    <tr>
        <th></th>
        <th>Name</th>
        <th>Id</th>
        <th>Size</th>
        <th>Created</th>
        <th>Uploader</th>
        <th></th>
    </tr>
    </thead>
    <tbody>
        {%- for file in files %}
        {{ render_element(file, fa_mimetype) }}
        {% endfor -%}
    </tbody>
</table>
{% endif -%}
{% endblock -%}